
  <div class="login_rowdown" style="margin-top: 10%">
    <div class="col-md-12">
      <form class="form-horizontal form_container" ng-hide="forgot.sent" name="emailForm" ng-submit="ForgotPassword.forgotPassword(emailForm)"novalidate>
        <div class="col-md-4 col-md-offset-4">
          <div class="login-cont">
            <div class="form-group">
              <div class="inner_login">
                <input validate-email class="form-control login_input" type="email" ng-model="ForgotPassword.form.email" id=""
                       name="email" ng-disabled="forgot.posting" required>
                <label class="control-label error-message" ng-show="emailForm.email.$error.required && ForgotPassword.submitted">Email
                  is
                  required</label>
                <label class="control-label error-message" ng-show="emailForm.email.$error.email && ForgotPassword.submitted"> Please
                  enter a valid email.</label>
                <label class="control-label error-message" ng-show="ForgotPassword.error"> {{ForgotPassword.error.message}}</label>
              </div>
            </div>
            <div class="forgot-password inner_login">
              <a href="#"></a>
            </div>

            <div class="form-group">
              <div class="btnsbmt-cont" style="text-align: center">
                <button type="button" class="btn btn-primary btn_cancelPass" ng-click="ForgotPassword.goToLogin()">Cancel</button>
                <button type="submit" class="btn btn-primary btn_confirm" ng-disabled="ForgotPassword.posting">Confirm</button>
              </div>
            </div>
          </div>
          <!--login cont-->

        </div>
      </form>

    </div>
  </div>

</div>
