<div role="dialog" aria-labelledby="gridSystemModalLabel" id="pradmin-created">
  <div role="document">
    <div class="modal-content infoDeactivation-Pop" >
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="message-Sorry">
              <button type="button" class="close btnClose-PrPop" ng-click="popUp._error.close()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
