<div role="dialog" aria-labelledby="gridSystemModalLabel" id="pradmin-created">
  <div role="document">
    <div class="modal-content infoDeactivation-Pop">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="close btnClose-PrPop" ng-click="popUp.closeModal()" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h1>Success</h1>
          </div>
        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
