<header></header>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form login-form" name="form" ng-submit="ChangePassword.reset(form)" novalidate>
        <h2>Change Password</h2>
        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="ChangePassword.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ ChangePassword.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="ChangePassword.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ ChangePassword.message }} </p>

        <button class="btn btn-lg btn-login" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
